.product {
    display: flex;
}

.image-with-text__grid.grid {
    display: flex;
}

ul#Slider-template--22558108287273__multicolumn {
    display: flex;
}

ul.grid.product-grid {
    display: flex;
}

.footer__blocks-wrapper {
    display: flex;
}


/*Color Swatches*/
label.color-swatch {
  width: 80px;
  height: 80px;
}

label.color-swatch:hover {
  opacity: 0.75;
}

label.color-swatch.checked{
  border:solid lightblue 3px;
}