.product {
    display: flex;
}

.image-with-text__grid.grid {
    display: flex;
}

ul#Slider-template--22558108287273__multicolumn {
    display: flex;
}

ul.grid.product-grid {
    display: flex;
}

.footer__blocks-wrapper {
    display: flex;
}

.color-swatches {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .swatch {
    text-align: center;
    cursor: pointer;
  }
  
  .swatch img {
    border: 1px solid #ccc;
    padding: 5px;
    max-width: 100px;
    height: auto;
  }
  
  .swatch p {
    margin-top: 5px;
    font-size: 14px;
  }
  