.product {
    display: flex;
}

.image-with-text__grid.grid {
    display: flex;
}

ul#Slider-template--22558108287273__multicolumn {
    display: flex;
}

ul.grid.product-grid {
    display: flex;
}

.footer__blocks-wrapper {
    display: flex;
}


.swatch-container img{
    width:100px;
    height:100px;
}